
/*************************************************************************************
 * Import Mulit Font
 ************************************************************************************/

 @import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,700,700i');

 /*************************************************************************************
  * Import TailwindsCSS utilities
  ************************************************************************************/
 
 @tailwind preflight;
 @tailwind utilities;

 /*************************************************************************************
 * Body Base Font
 ************************************************************************************/
 
 body {
   font-family: 'Muli', sans-serif !important;
   line-height: 150%;
 }
 
 /*************************************************************************************
  * Base Stylings for anchor tags, etc...
  ************************************************************************************/
 
  a {
    @apply text-moxi-blue no-underline;
  }

  a:hover {
    @apply underline;
  }
 
 
 /*************************************************************************************
  * Button Classes
  ************************************************************************************/
 
 .btn {
   @apply py-13 px-16 rounded mx-2;
   display: inline-flex;
   align-items: center;
   text-align: center;
   vertical-align: middle;
 }
 
 .btn i {
   @apply mr-8;
 }
 
 .btn-default {
   @apply border-cn-30 border-solid border;
 }
 
 .btn-flat:hover, .btn-default:hover {
   @apply bg-cn-10 text-black;
 }
 
 .btn-primary {
   @apply bg-moxi-green text-white;
 }
 
 .btn-primary:hover {
   @apply bg-moxi-green-dark;
 }
 
 .btn-destructive {
   @apply border-moxi-destructive border-solid border text-moxi-destructive;
 }
 
 .btn-destructive:hover {
   @apply bg-cn-10;
 }
 
 .btn-dense {
   @apply text-sm py-9 px-16;
 }
 
 .btn-blue {
   @apply bg-moxi-blue text-white;
 }
 
 .btn-blue {
   @apply bg-moxi-blue text-white;
 }

 .btn-blue:hover {
   @apply bg-moxi-blue-dark text-white;
 }

 a.btn:hover {
   text-decoration: none;
 }
 
 /*************************************************************************************
  * Typography Classes
  ************************************************************************************/
 
  h1 {
    @apply text-5xl mb-30;
  }
 
  h2 {
    @apply text-2xl my-20;
  }
 
  h3 {
    @apply text-lg my-20;
  }
 
  h4 {
    @apply text-base my-20;
  }
 
  h5 {
    @apply text-sm my-20;
  }
 
  p {
    @apply my-20;
  }
 
 
 /*************************************************************************************
  * Grid Classes
  ************************************************************************************/
 
  .v-flex {
   @apply flex;
  }
 
 .v-flex-wrap {
   @apply flex flex-wrap;
 }
 
 .v-flex .v-flex-item, .v-flex-wrap .v-flex-item {
   @apply p-8 mb-8;
 }
 
 /*************************************************************************************
 * Card Classes
 ************************************************************************************/
 
 .v-card {
   @apply relative rounded overflow-hidden shadow-md p-16
 }
 
 .v-card-image {
   margin: -16px -16px 16px -16px;
 }
 
 .v-card-image img {
   min-width: 100%;
 }
 
 .v-card-fake {
   display: none;
 }
 
 .v-reveal {
   @apply flex absolute pin-t pin-r pin-l pin-b z-40 bg-cn-0;
   display: none;
 }
 
 .v-reveal-content {
   min-width: 100%;
   text-align: center;
 }
 
 .v-close-reveal {
   position: absolute;
   top: 16px;
   right: 16px;
   cursor: pointer;
   font-size: 1.5rem;
 }

 /*************************************************************************************
 * Form Classes
 ************************************************************************************/

 input[type="text"] {
  border: 1px solid #bcc0c2;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
 }
 
 /*************************************************************************************
 * Utility Classes
 ************************************************************************************/
 
 .absolute-center {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
 }