/*************************************************************************************
* Import Mulit Font
************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,700,700i');

/*************************************************************************************
* Import TailwindsCSS utilities
************************************************************************************/

@tailwind base;
@tailwind utilities;
@tailwind components;

/*************************************************************************************
* Body Base Font
************************************************************************************/

body {
  font-family: 'Muli', sans-serif !important;
  line-height: 150%;
}

*:focus {
  outline: none !important;
}

/*************************************************************************************
* Base Stylings for anchor tags, etc...
************************************************************************************/

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a {
  @apply text-moxi-blue no-underline;
}

a:hover {
  @apply underline;
}

/*************************************************************************************
* Button Classes
************************************************************************************/

.btn {
  @apply py-13 px-16 rounded mx-2;
  display: inline-flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.btn i {
  @apply mr-8;
}

.btn-default {
  @apply border-cn-30 border-solid border;
}

.btn-flat:hover, .btn-default:hover {
  @apply bg-cn-10 text-black;
}

.btn-primary {
  @apply bg-moxi-green text-white;
}

.btn-primary:hover {
  @apply bg-moxi-green-dark;
}

.btn-destructive {
  @apply border-moxi-destructive border-solid border text-moxi-destructive;
}

.btn-destructive:hover {
  @apply bg-cn-10;
}

.btn-dense {
  @apply text-sm py-9 px-16;
}

.btn-blue {
  @apply bg-moxi-blue text-white;
}

.btn-blue {
  @apply bg-moxi-blue text-white;
}

.btn-blue:hover {
  @apply bg-moxi-blue-dark text-white;
}

a.btn:hover {
  text-decoration: none;
}

/*************************************************************************************
* Typography Classes
************************************************************************************/

h1, h2, h3, h4, h5 {
  line-height: 120%;
}

div[class^="text-"], p[class^="text-"] {
  line-height: 120%;
}

h1 {
  @apply text-5xl mb-30;
}

h2 {
  @apply text-2xl my-20;
}

h3 {
  @apply text-lg my-20;
}

h4 {
  @apply text-base my-20;
}

h5 {
  @apply text-sm my-20;
}

p {
  @apply my-20;
}

/*************************************************************************************
* Grid Classes
************************************************************************************/

.v-flex {
  @apply flex;
}

.v-flex-wrap {
  @apply flex flex-wrap;
}

.v-flex .v-flex-item, .v-flex-wrap .v-flex-item {
  @apply p-8 mb-8;
}

/*************************************************************************************
* Card Classes
************************************************************************************/

.v-card {
  @apply relative flex bg-cn-10 overflow-hidden p-16 mb-3;
}

.v-card.showhover:hover {
  cursor: pointer;
  background: #F8F8F8
}

.v-card.level-1 {
  @apply bg-cn-0;
}

.v-card.level-2 {
  @apply bg-cn-0;
}

.v-card.level-3 {
  @apply bg-cn-0;
}

.v-card i {
  font-size: 24px;
  margin-right: 15px;
}

.v-card .rounded-image {
  margin-right: 15px;
}

/*************************************************************************************
* Radio/Checkbox Classes
************************************************************************************/

/* Customize the label (the container) */

.element-container {
  position: relative;
  padding-left: 23px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.element-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.element-container .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #212e35;
  border-radius: 3px;
}

.element-container:hover input~.checkmark {
  background-color: #f5f5f5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.element-container input:checked ~ .checkmark:after {
  display: block;
}

.element-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid #636c71;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Slight alteratons for radios */

.checkmark.radio {
  border-radius: 50%;
}

.element-container .checkmark.radio:after {
  top: 3px;
  left: 3px;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  border-width: 0;
  background: #636c71;
}

/* Destructive Styles */

.element-container.destructive {
  color: #f44336;
}

.element-container .checkmark.destructive {
  border: 1px solid #f44336;
}

.element-container .checkmark.destructive:after {
  border: solid #f44336;
  border-width: 0 2px 2px 0;
}

.element-container .checkmark.radio.destructive:after {
  background: #f44336;
  border: 0;
}

/* Disabled Styles */

.element-container.disabled {
  color: #90969a;
}

.element-container .checkmark.disabled {
  border: 1px solid #d3d5d7;
}

.element-container .checkmark.disabled:after {
  border: solid #90969a;
  border-width: 0 2px 2px 0;
}

.element-container.disabled:hover input~.checkmark {
  background: transparent;
}

/*************************************************************************************
* Switches
************************************************************************************/

.vp-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */

.vp-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.vp-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d5d7;
  -webkit-transition: .4s;
  transition: .4s;
}

.vp-switch .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.vp-switch input:checked+.slider {
  background-color: #377cbf;
}

.vp-switch input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */

.vp-switch .slider.round {
  border-radius: 34px;
}

.vp-switch .slider.round:before {
  border-radius: 50%;
}

/* destructive slider */

.vp-switch .slider.destructive:before {
  background-color: #f44336;
}

.vp-switch input:checked+.slider.destructive {
  background-color: #F77B73;
}

/*************************************************************************************
* Input Elements
************************************************************************************/

.vp-input-container {
  position: relative;
  min-width: 100%;
  padding: 10px;
  height: 46px;
  max-height: 46px;
  min-height: 46px;
  @apply border border-cn-30;
}

.vp-input-container input {
  background: transparent;
}

.vp-input-container.dark {
  @apply border border-cn-100;
}

.vp-input-container label {
  position: absolute;
  top: 10px;
  left: 10px;
  @apply text-cn-40;
  display: block;
  cursor: text;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  text-align: initial;
  padding: 0 5px;
}

.vp-input-container label.active {
  @apply text-cn-70;
  -webkit-transform: translateY(-20px) scale(0.8);
  transform: translateY(-20px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  background: #fff;
}

.vp-input-container i {
  position: absolute;
  color: #666;
  top: 10px;
  left: 10px;
  font-size: 24px;
}

.vp-input-container .v-icon-close-circle {
  left: unset;
  right: 10px;
  cursor: pointer;
  display: none;
}

.vp-input-container input[type="text"], .vp-input-container input[type="tel"] {
  width: 100%;
}

.vp-input-container input[type="text"]:focus,
.vp-input-container input[type="tel"]:focus,
.vp-input-container input[type="text"]:not(:placeholder-shown),
.vp-input-container input[type="tel"]:not(:placeholder-shown) {
  padding-top: 4px;
}

.vp-input-container.textarea {
  height: auto;
  max-height: inherit;
}

.vp-input-container textarea {
  background: transparent;
  line-height: 100%;
  width: 100%;
}

/*************************************************************************************
* Toasts
************************************************************************************/

.vp-toast-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 10000;
  cursor: pointer;
}

#vp-toast-container {
  position: fixed;
  top: 80px;
  right: 16px;
  z-index: 10000;
  display: none;
}

#vp-toast-container.centered {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vp-toast {
  padding: 16px 8px;
  min-width: 280px;
  max-width: 280px;
  cursor: pointer;
  display: none;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(33, 46, 53, .5)
}

#vp-toast-container.centered .vp-toast {
  margin: auto;
  max-width: 580px;
}

.vp-toast.show {
  display: flex;
  -webkit-animation: showtoast 2s;
  -moz-animation:    showtoast 2s;
  -o-animation:      showtoast 2s;
  animation:         showtoast 2s;
}

.vp-toast-icon {
  flex: 32px;
}

.vp-toast-message p {
  margin: 0;
}

.vp-toast i {
  margin-right: 8px;
  font-size: 24px;
  @apply text-moxi-green;
}

.vp-toast i.info {
  @apply text-cn-70;
}

.vp-toast i.error {
  @apply text-moxi-destructive;
}

@-webkit-keyframes showtoast {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes showtoast {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes showtoast {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes showtoast {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*************************************************************************************
* Containers
************************************************************************************/

.v-container-thick {
  @apply p-32;
}

.v-container {
  @apply p-24;
}

.v-container-thin {
  @apply p-16;
}

.v-container-extra-thin {
  @apply p-8;
}

.v-container-zero {
  @apply p-0;
}

/*************************************************************************************
* Utility Classes
************************************************************************************/

.absolute-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rounded-image {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: inline-block;
  background-size: cover;
  background-position: center center;
}
